<section id="leistungen" class="bg-dark px-5 py-5">

    <h1 class="text-light fs-2 lh-lg">Leistungsumfang</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
        <div class="card h-100 rounded-0 rounded-top">
            <div class="rounded-top" style="min-height:20vh;background:url(https://images.pexels.com/photos/6821106/pexels-photo-6821106.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);background-size:cover;background-position:center;"></div>
            <div class="card-body">
            <h5 class="card-title">Haustiere</h5>
            <p class="card-text">8-bit fixie flannel hella sus. Bodega boys portland salvia, you probably haven't heard of them YOLO retro flannel deep v. Craft beer distillery umami wayfarers chicharrones master cleanse.</p>
            </div>
            <div class="card-footer">
            <small class="text-muted">#Tierarzt #Sachschäden</small>
            </div>
        </div>
        </div>

        <div class="col">
        <div class="card h-100 rounded-0 rounded-top">
            <div class="rounded-top" style="min-height:20vh;background:url(https://images.pexels.com/photos/209274/pexels-photo-209274.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);background-size:cover;background-position:center;"></div>
            <div class="card-body">
            <h5 class="card-title">Haus & Wohnung</h5>
            <p class="card-text">Crucifix pitchfork tousled, subway tile 3 wolf moon meh jean shorts freegan. Post-ironic poutine pok pok adaptogen subway tile farm-to-table, iPhone yes plz austin swag drinking vinegar.</p>
            </div>
            <div class="card-footer">
            <small class="text-muted">#Glass #Naturgewalt</small>
            </div>
        </div>
        </div>

        <div class="col">
        <div class="card h-100 rounded-0 rounded-top">
            <div class="rounded-top" style="min-height:20vh;background:url(https://images.pexels.com/photos/12351463/pexels-photo-12351463.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);background-size:cover;background-position:center;"></div>
            <div class="card-body">
            <h5 class="card-title">Auto & E-Bike</h5>
            <p class="card-text">YOLO migas meh kickstarter crucifix raclette, taiyaki unicorn pitchfork cred vegan. Neutra craft beer stumptown sus photo booth man bun.</p>
            </div>
            <div class="card-footer">
            <small class="text-muted">#Haftpflicht #Rechtsschutz</small>
            </div>
        </div>
        </div>

    </div>

</section>