---
---

$primary: darkblue;
$secondary: cyan;

@import "bootstrap/bootstrap";
@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";

body {
    cursor: default;
}
::selection {
    color: $dark;
    background: $secondary;
}

#leistungen {
    .card {
        border-color: transparent;
        transition: ease-out 2s;
        .card-title {
            transition: ease-out 2s;
        }
    }
    .card:hover {
        border-color: $secondary;
        transition: ease-out 0.2s;
        .card-title {
            color: $primary;
            transition: ease-out 0.2s;
        }
    }
}